<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Rechiol омоложение крем, заказать на официальном сайте</title>
    <link href="../img/fav.png" rel="shortcut icon" type="image/x-icon"/>
</head>

<body id="body">
<div class="" id="">
    <section class="section-first swiper-slide" id="pageFirst">
        <div class="container">
            <div class="section-first__inner">
                <div class="section-first__inner__left">
                    <img src="../img/logo.svg" alt="" class="logo-img">
                    <div class="section-first__inner__left-text">
                        Омолаживающий крем для лица
                    </div>
                    <div class="section-first__inner__left-desc">
                        <picture class="section-first__inner__left-desc-img">
                            <source media="(max-width: 767px)" srcset="../img/prod_top_m.png" class="">
                            <img src="../img/prod_top.png" alt="">
                        </picture>
                        <div class="block-switches d-mobile">
                            <div class="switch index-1 active" data-button="1"><span>+</span></div>
                            <div class="switch index-2" data-button="2"><span>+</span></div>
                            <div class="switch index-3" data-button="3"><span>-</span></div>
                            <div class="switch index-4" data-button="4"><span>+</span></div>
                        </div>
                        <ul>
                            <li class="plus-first" data-item="1"><span
                                    class="li-text">Подходит <br>для домашнего<br> применения</span>
                                <span class="line-under d-large"></span>
                                <span class="line-right d-large"></span>
                                <span class="round-point d-large"></span>
                            </li>
                            <li class="plus-second" data-item="2"><span
                                    class="li-text">Без инъекций<br> и препаратов</span>
                                <span class="line-under d-large"></span>
                                <span class="line-right d-large"></span>
                                <span class="round-point d-large"></span>
                            </li>
                            <li class="plus-third" data-item="3"><span class="li-text">Без косметологических<br> процедур</span>
                                <span class="line-under d-large"></span>
                                <span class="line-right d-large"></span>
                                <span class="round-point d-large"></span>
                            </li>
                            <li class="plus-fourth" data-item="4"><span
                                    class="li-text">Лифтинг - эффект<br> за 1 курс</span>
                                <span class="line-under d-large"></span>
                                <span class="line-right d-large"></span>
                                <span class="round-point d-large"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section-first__inner__right">
                    <div class="section-first__inner__right-title">
                        Будь в тренде — красота и молодость всегда в моде
                    </div>
                    <span class="section-first__inner__right-btn link-block">заказать сейчас</span>
                </div>
                <picture class="section-first__inner__woman">
                    <source media="(max-width: 767px)" srcset="../img/woman_top_m.png">
                    <img src="../img/woman_top.png" alt="">
                </picture>
            </div>
        </div>
    </section>
    <section class="section-second swiper-slide" id="pageSecond">
        <div class="container">
            <div class="leaf-1">
                <img src="../img/leaf_1.png" alt="" class="img-responsive">
            </div>
            <div class="leaf-2">
                <img src="../img/leaf_2.png" alt="" class="img-responsive">
            </div>
            <div class="drops-1">
                <img src="../img/drops_1.png" alt="" class="img-responsive">
            </div>
            <div class="section-second__inner">
                <div class="section-second__inner-title">
                    <img src="../img/logo_lil.svg" alt="" class="section-second__inner-title-img">
                    <div class="section-second__inner-title-text">
                        секрет твоей молодости
                    </div>
                </div>
                <div class="section-second__inner-left">
                    <img src="../img/operation.jpg" alt="" class="section-second__inner-left-img">
                    <div class="section-second__inner-left-block">
                        <p class="title">Крем Rechiol® заменит косметологический салонный уход.</p>
                        <p>
                            Эффект от его применения сравним с профессиональным лифтингом и круговой подтяжкой лица,
                            но без
                            длительного восстановительного периода.
                        </p>
                    </div>
                </div>
                <div class="section-second__inner-right">
                    <div class="prod-pluses">
                        <ul>
                            <li>Удобный формат, экономичный расход</li>
                            <li>Запатентованная формула</li>
                            <li>Подходит для всех типов кожи</li>
                        </ul>
                        <img src="../img/second-prod.png" alt="" class="second-prod">
                    </div>
                    <div class="text">
                        Твой домашний косметолог!
                    </div>
                    <img src="../img/logo_lil.svg" alt="" class="img">
                    <div class="info">
							<span>
								Rechiol® - легкий крем с натуральными компонентами и вытяжками из растительных
								стволовых клеток.
							</span>
                        Они пробуждают спящие стволовые клетки кожи, стимулируют их работу и
                        <span>
								способствуют восстановлению упругости, эластичности,
							</span>
                        возвращают лицу сияющий, ровный цвет и формируют четкий овал.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-third swiper-slide" id="pageThird">
        <div class="flower-1">
            <img src="../img/flower_2.png" alt="">
        </div>
        <div class="leaf-5">
            <img src="../img/leaf_5.png" alt="">
        </div>
        <div class="leaf-3">
            <img src="../img/leaf_3.png" alt="" class="img-responsive">
        </div>
        <div class="container">
            <div class="section-third__inner">
                <div class="section-third__inner__left">
                    <div class="d-mobile">
                        <div class="dark-logo">
                            <img src="../img/logo_lil.svg" class="svg" alt=""/>
                        </div>
                        <div class="green-shildik text-uppercase">
                            Забудь <br/>о морщинах
                        </div>
                        <img src="../img/prod_blur.png" class="third-prod" alt="">
                        <img src="../img/seewead.png" class="seaweed" alt=""/>
                    </div>
                    <picture class="woman-third">
                        <source media="(max-width: 767px)" srcset="../img/woman_m.png">
                        <img src="../img/woman.png" alt="">
                    </picture>
                    <div class="info">
                        <div class="info-title">До Rechiol</div>
                        <div class="example-block">
                            <img src="../img/before_eye.jpg" alt="" class="example-block-img">
                        </div>
                        <div class="example-block">
                            <img src="../img/before_mouth.jpg" alt="" class="example-block-img">
                        </div>
                        <div class="example-block">
                            <img src="../img/before_nose.jpg" alt="" class="example-block-img">
                        </div>
                    </div>
                    <p class="text-bold">
                        Морщины могут появиться даже в 16 лет — это
                        обусловлено генетикой, экологией и образом жизни.
                    </p>
                    <p class="text">
                        С возрастом кожа меняется, стволовые клетки впадают в спячку,
                        из-за чего сокращается выработка структурных белков, снижается упругость и эластичность
                        кожных покровов.
                    </p>
                </div>
                <div class="section-third__inner__right">
                    <div class="d-large">
                        <div class="logo">
                            <img src="../img/logo_lil.svg" alt="">
                        </div>
                        <div class="green-shildik">
                            — забудь
                            <p>о морщинах!</p>
                        </div>
                        <img src="../img/prod_blur.png" alt="" class="third-prod">
                        <img src="../img/seewead.png" alt="" class="seaweed">
                    </div>
                    <div class="after">
                        <div class="d-large">
                            <div class="title">
                                С Rechiol
                            </div>
                            <div class="example-block">
                                <img src="../img/after_eye.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/after_mouth.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/after_nose.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="text">
								<span>
									Вытяжки из микроводорослей PEPHA®-TIGHT и бакучиол активно борются сморщинами.
								</span>
                            Компоненты проникают вглубь кожи, пробуждают спящие фибробласты и
                            стимулируют синтез собственного коллагена и эластина. Новые белковые нити выталкивают
                            изнутри самые глубокие морщины и заломы, выравнивают рельеф кожи и препятствуют
                            повторному
                            образованию морщин.
                        </div>
                    </div>
                </div>
                <div class="d-mobile">
                    <div class="example-block">
                        <div class="image-compare">
                            <img src="../img/before_eye_m.jpg" alt="">
                            <img src="../img/after_eye_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                    <div class="example-block">
                        <div class="image-compare">
                            <img src="../img/before_mouth_m.jpg" alt="">
                            <img src="../img/after_mouth_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                    <div class="example-block">
                        <div class="image-compare">
                            <img src="../img/before_nose_m.jpg" alt="">
                            <img src="../img/after_nose_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-fourth swiper-slide" id="pageFourth">

        <div class="container">
            <div class="leaf-6">
                <img src="../img/leaf_6.png" alt="">
            </div>
            <div class="drops-3">
                <img src="../img/drops_3.png" alt="">
            </div>
            <div class="flower-3">
                <img src="../img/flower_3.png" alt="">
            </div>
            <div class="section-fourth__inner">
                <div class="d-mobile">
                    <div class="logo-fourth">
                        <img src="../img/logo_lil.svg" class="svg" alt=""/>
                    </div>
                    <div class="green-shildik ">
                        Четкий овал без<br> операций и мезонитей
                    </div>
                    <img src="../img/fourth_prod.png" class="prod-fourth" alt="">
                </div>
                <div class="section-half">
                    <img src="../img/woman2.png" alt="" class="woman-fourth">
                    <div class="before">
                        <div class="d-large">
                            <div class="text-title">
                                До Rechiol
                            </div>
                            <div class="example-block">
                                <img src="../img/before_cheekbones.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/before_chin.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/before_cheeks.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <p class="text">
								<span>
									С возрастом эластичные волокна, поддерживающие естественныйкаркас
                            		лица, разрушаются, кожа теряет упругость и эластичность.
								</span>
                            Чтобы вернуть овалу
                            прежний подтянутый контур, необходим строительный материал и активаторы стволовых
                            клеток,
                            которые запускают естественный синтез структурных волокон.
                        </p>
                    </div>
                </div>
                <div class="section-right">
                    <div class="d-large">
                        <div class="logo-fourth">
                            <img src="../img/logo_lil.svg" alt="">
                        </div>
                        <div class="green-shildik">
                            четкий овал без операций и мезонитей
                        </div>
                        <img src="../img/fourth_prod.png" alt="" class="prod-fourth">
                    </div>
                    <div class="after">
                        <div class="d-large">
                            <div class="text-title">
                                С Rechiol
                            </div>
                            <div class="example-block">
                                <img src="../img/after_cheekbones.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/after_chin.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/after_cheeks.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="block-text">
								<span>
									В креме Rechiol® присутствуют экстракт солодки и коллаген
								</span>
                            — они формируют
                            новые нити белкового каркаса кожи, подтягивают контуры лица,
                            <span>
									делают овал более
                            		изящным, а черты лица — утонченными.
								</span>
                            Лифтинг-эффект можно заметить через неделю
                            регулярного применения крема.
                        </div>
                    </div>
                </div>
                <div class="d-mobile">
                    <div class="example-block">

                        <div class="image-compare">
                            <img src="../img/before_cheekbones_m.jpg" alt="">
                            <img src="../img/after_cheekbones_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                    <div class="example-block">
                        <div class="image-compare">
                            <img src="../img/before_chin_m.jpg" alt="">
                            <img src="../img/after_chin_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                    <div class="example-block">
                        <div class="image-compare">
                            <img src="../img/before_cheeks.jpg" alt="">
                            <img src="../img/after_cheeks_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-fifth swiper-slide" id="pageFifth">
        <div class="container">
            <div class="leaf-6">
                <img src="../img/leaf_7.png" alt="" class="img-responsive">
            </div>
            <div class="almond">
                <img src="../img/almond.png" alt="" class="img-responsive">
            </div>
            <div class="d-mobile">
                <div class="logo-fifth">
                    <img src="../img/logo_lil.svg" class="svg" alt=""/>
                </div>
                <div class="green-shildik">
                    Здоровая, красивая<br> и сияющая кожа
                </div>
                <img src="../img/fifth_prod_m.png" class="prod-fifth" alt="">
            </div>
            <div class="section-fifth__inner">
                <div class="section-half">
                    <img src="../img/woman3.png" alt="" class="woman-fifth">
                    <div class="before">
                        <div class="d-large">
                            <div class="text-title">
                                До Rechiol
                            </div>
                            <div class="example-block">
                                <img src="../img/before_pigment.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/before_acne.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/before_acne2.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <p class="text">
								<span>
									Тусклый цвет лица, веснушки, возрастная пигментация, акне, угревая
                            		сыпь — многие женщины знакомы с этими проблемами.
								</span>
                            При этом каждая хочет быть
                            красивой, эффектной и неотразимой, иметь идеально гладкую и светящуюся изнутри кожу. Для
                            этого необходим дополнительный профессиональный уход с использованием натуральных
                            компонентов.
                        </p>
                    </div>
                </div>
                <div class="section-right">
                    <div class="d-large">
                        <div class="logo-fifth">
                            <img src="../img/logo_lil.svg" alt="" class="svg">
                        </div>
                        <div class="green-shildik">
                            Здоровая, красивая и сияющая кожа
                        </div>
                        <img src="../img/fifth_prod.png" alt="" class="prod-fifth">
                    </div>
                    <div class="after">
                        <div class="d-large">
                            <div class="text-title">
                                С Rechiol
                            </div>
                            <div class="example-block">
                                <img src="../img/after_pigment.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/after_acne.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="example-block">
                                <img src="../img/after_acne2.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="green-patch">
								<span>
									В состав крема Rechiol® входят миндальное масло и витамин C.
								</span>
                            Они очищают
                            кожу лица и шеи, способствуют ее обновлению, защищают от свободных радикалов, устраняют
                            пигментацию, выравнивают тон и придают коже сияющий и здоровый вид.
                        </div>
                    </div>
                </div>
                <div class="d-mobile">
                    <div class="example-block">
                        <div class="image-compare">
                            <img src="../img/before_pigment_m.jpg" alt="">
                            <img src="../img/after_pigment_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                    <div class="example-block">
                        <div class="image-compare">
                            <img src="../img/before_acne_m.jpg" alt="">
                            <img src="../img/after_acne_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                    <div class="example-block">
                        <div class="image-compare">
                            <img src="../img/before_acne2_m.jpg" alt="">
                            <img src="../img/after_acne2_m.jpg" alt="">
                        </div>
                        <span class="before-span">До</span>
                        <span class="after-span">После</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-sixth swiper-slide" id="pageSixth">
        <div class="container">
            <div class="flower-4">
                <img src="../img/flower_4.png" alt="">
            </div>
            <div class="drops-4">
                <img src="../img/drops_3.png" alt="">
            </div>
            <div class="section-sixth__inner">
                <div class="section-half">
                    <picture class="img-doc">
                        <source media="(max-width: 767px)" srcset="../img/doc_m.png">
                        <img src="../img/doc.png" alt="">
                    </picture>
                    <div class="d-large">
                        <img src="../img/prod_box.png" alt="" class="prod-box">
                        <div class="doc-title">
                            <span>Анна Коновалова</span>
                            косметолог, визажист,
                            опыт работы 12 лет
                        </div>
                    </div>
                </div>
                <div class="section-right">
                    <div class="logo-sixth">
                        <img src="../img/logo_lil.svg" alt="" class="svg">
                    </div>
                    <div class="spec-title">
                        Профессиональный уход у вас дома
                    </div>
                    <div class="d-mobile">
                        <img src="../img/prod_box.png" class="prod-box" alt="">
                        <div class="doc-title"><strong>Саманта Оуэн</strong> косметолог, визажист, опыт работы 12
                            лет
                        </div>
                    </div>
                    <p class="text">
                        Старение кожи связано с уменьшением количества активных стволовых клеток в глубинных слоях
                        дермы.
                        Они отвечают за выработку коллагена и эластина.
                        <span>
								Чтобы разбудить спящие фибробласты,
								необходимо воздействовать на них родственными компонентами — вытяжками из растительных
                            	стволовых клеток, которые содержатся в креме Rechiol.
							</span>
                    </p>
                    <p class="text">
                        В его состав входят растительный аналог ретинола — бакучиол, и запатентованный пептидный
                        комплекс
                        из микроводорослей PEPHA®-TIGHT.
                        <span>
								Активные вещества крема пробуждают спящие стволовые
                            	клетки и стимулируют синтез коллагена.
							</span>
                        При регулярном использовании крем
                        выравнивает цвет лица, сокращает морщины, подтягивает овал, кожа становится увлажненной,
                        упругой
                        и эластичной. Rechiol — лучшее решение для молодой, зрелой и возрастной кожи!
                    </p>
                    <span class="btn link-block">Начать курс омоложения</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section-seventh swiper-slide" id="pageSeventh">
        <div class="container">
            <div class="pencils">
                <img src="../img/pencil_cup.png" alt="" class="img-responsive">
            </div>
            <div class="headphones">
                <img src="../img/headphones.png" alt="" class="img-responsive">
            </div>
            <div class="candle">
                <img src="../img/candle.png" alt="" class="img-responsive">
            </div>
            <div class="section-seventh__inner">
                <div class="section-seventh__inner-title">
                    Результат превзошел их ожидания!
                </div>
                <div class="slider-wrap">
                    <div class="slider-reviews">
                        <div class="review-block">
                            <img src="../img/rev1.jpg" alt="" class="ava-img">
                            <div class="name-title">Марина Ковалева</div>
                            <img src="../img/stars.png" alt="">
                            <p>Пользуюсь органической косметикой с 30 лет, в последнее время перешла на Rechiol. Не
                                поверите, этот крем заменил мне ВСЮ линейку уходовых средств. Используют его утром и
                                вечером, с утра кожа отдохнувшая, свежая, с ровным
                                цветом, прошла угревая сыпь, исчезли веснушки. Морщин будто и не было никогда!
                                Настоящая находка для всех женщин!</p>
                            <div class="img-wrap grade-1">
                                <img src="../img/rev_before1.jpg" alt=""> до Rechiol
                            </div>
                            <div class="img-wrap grade-2">
                                <img src="../img/rev_after1.jpg" alt=""> с Rechiol
                            </div>
                        </div>
                        <div class="review-block">
                            <img src="../img/rev2.jpg" class="ava-img" alt="">
                            <div class="name-title">Агата Провоторова</div>
                            <img src="../img/stars.png" alt="">
                            <p>Rechiol использую с перерывами уже достаточно давно. Очень хорошо справляется с
                                возрастными изменениями особенно в межсезонье, когда витаминов недостаточно. А еще
                                при стрессовых ситуациях – хорошо тонизирует, подтягивает,
                                избавляет от серости и тусклости лица.
                            </p>
                            <div class="img-wrap grade-3">
                                <img src="../img/rev_before2.jpg" alt=""> до Rechiol
                            </div>
                            <div class="img-wrap grade-4">
                                <img src="../img/rev_after2.jpg" alt=""> с Rechiol
                            </div>
                        </div>
                        <div class="review-block">
                            <img src="../img/rev3.jpg" class="ava-img" alt="">
                            <div class="text-uppercase">Елизавета Орлова</div>
                            <img src="../img/stars.png" alt="">
                            <p>После того, как мне пришлось в очередной раз выбросить новый крем (раздражение на 4-й
                                день, традиционно), осталась только натуральная косметика как альтернатива.
                                Остановилась на креме Rechiol. Пока 2 недели прошло — заметила,
                                что мешочки под глазами меньше и кожа увлажненная, даже с утра. Уход замечательный,
                                лифтинг тоже присутствует. Но, главное, никакого раздражения, ни красноты, глазки
                                сияют)</p>
                            <div class="img-wrap grade-1">
                                <img src="../img/rev_before3.jpg" alt=""> до Rechiol
                            </div>
                            <div class="img-wrap grade-2">
                                <img src="../img/rev_after3.jpg" alt=""> с Rechiol
                            </div>
                        </div>
                        <div class="review-block">
                            <img src="../img/rev4.jpg" class="ava-img" alt="">
                            <div class="text-uppercase">Лариса Страхова</div>
                            <img src="../img/stars.png" alt="">
                            <p>Мне 59. Никаких инъекций ботокса и пластики. Rechiol — это моё "всё". Не стану
                                отнимать ваше время, пытаясь выглядеть скромной. Скажу нескромно: морщин практически
                                нет, на вопросы девушек и дам: "Чем пользуетесь?" отвечаю
                                постоянно.</p>
                            <div class="img-wrap grade-3">
                                <img src="../img/rev_before4.jpg" alt=""> до Rechiol
                            </div>
                            <div class="img-wrap grade-4">
                                <img src="../img/rev_after4.jpg" alt=""> с Rechiol
                            </div>
                        </div>
                        <div class="review-block">
                            <img src="../img/rev5.jpg" class="ava-img" alt="">
                            <div class="text-uppercase">Регина Морозова</div>
                            <img src="../img/stars.png" alt="">
                            <p>Столкнулась с возрастными проявлениями достаточно рано – у меня очень сухая,
                                шелушащаяся кожа. Этот крем реально помог справиться с проблемой. Он хорошо
                                увлажняет, лицо остается свежим на протяжении всего дня. Крем обладает
                                лёгкой текстурой, хорошо впитывается, не оставляет липких либо жирных следов.</p>
                            <div class="img-wrap grade-1">
                                <img src="../img/rev_before5.jpg" alt=""> до Rechiol
                            </div>
                            <div class="img-wrap grade-2">
                                <img src="../img/rev_after5.jpg" alt=""> с Rechiol
                            </div>
                        </div>
                        <div class="review-block">
                            <img src="../img/rev6.jpg" class="ava-img" alt="">
                            <div class="text-uppercase">Ирина Шокурова</div>
                            <img src="../img/stars.png" alt="">
                            <p>После использования данного крема стала замечать, что кожа стала действительно более
                                упругой, свежей. Морщинки в уголках глаз стали менее заметны, но вот носогубные
                                складки пока на месте. Правда, пользуюсь только 2 недели.
                                Надеюсь на накопительный эффект.</p>
                            <div class="img-wrap grade-3">
                                <img src="../img/rev_before6.jpg" alt=""> до Rechiol
                            </div>
                            <div class="img-wrap grade-4">
                                <img src="../img/rev_after6.jpg" alt=""> с Rechiol
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-how swiper-slide" id="sectionHow">
        <div class="container">
            <div class="leaf-7">
                <img src="../img/leaf_1.png" alt="" class="img-responsive">
            </div>
            <div class="leaf-8">
                <img src="../img/leaf_2.png" alt="" class="img-responsive">
            </div>
            <div class="flower-5">
                <img src="../img/flower_3.png" alt="" class="img-responsive">
            </div>
            <div class="section-how__inner">
                <div class="section-how__inner-logo">
                    <img src="../img/logo_lil.svg" alt="">
                </div>
                <div class="section-how__inner-title">
                    Как заказать омолаживающий крем?
                </div>
                <ol class="section-how__inner__block">
                    <li class="section-how__inner__block-item">
                        <img src="../img/how1.png" alt="">
                        <div class="text-title">
                            Заполните форму заказа,
                            <p>
                                укажите контактные данные для обратной связи
                            </p>
                        </div>
                    </li>
                    <li class="section-how__inner__block-item">
                        <img src="../img/how2.png" alt="">
                        <div class="text-title">
                            Дождитесь звонка оператора
                            <p>
                                для уточнения деталей заказа и оплаты
                            </p>
                        </div>
                    </li>
                    <li class="section-how__inner__block-item">
                        <img src="../img/how3.png" alt="">
                        <div class="text-title">
                            Получите посылку
                            <p>
                                в ближайшем отделении почты, оплата при получении
                            </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section>
    <section class="section-order swiper-slide" id="sectionOrder">
        <div class="container">
            <div class="flower-6">
                <img src="../img/flower_1.png" alt="" class="img-responsive">
            </div>
            <div class="section-order__inner">
                <div class="d-mobile ">
                    <div class="bottom-logo">
                        <img src="../img/logo.svg" alt="">
                    </div>
                    <div class="title">
                        <strong>Концентрат молодости<br/> и красоты</strong>
                    </div>
                    <img src="../img/woman_bottom_m.png" class="woman-bottom" alt="">
                    <div class="prod-desc">
                        <img src="../img/prod_bottom.png" class="prod-bottom" alt="">
                        <div class="block-switches">
                            <div class="switch index-5 " data-button="5"><span>+</span></div>
                            <div class="switch index-6 active" data-button="6"><span>-</span></div>
                            <div class="switch index-7" data-button="7"><span>+</span></div>
                        </div>
                        <ul class="bottom-pluses">
                            <li class="plus-fifth" data-item="5">Формирует четкие, ровные контуры,
                                <strong>подтягивает овал лица</strong>
                                <span class="line-under d-large"></span>
                                <span class="line-right d-large"></span>
                                <span class="round-point d-large"></span>
                            </li>
                            <li class="plus-sixth" data-item="6"><strong>Убирает</strong> нежелательную <strong>пигментацию,</strong>
                                придает коже сияющий цвет
                                <span class="line-under d-large"></span>
                                <span class="line-right d-large"></span>
                                <span class="round-point d-large"></span>
                            </li>
                            <li class="plus-seventh" data-item="7"><strong>Устраняет</strong> мелкие мимические и
                                глубокие <strong>морщины</strong>
                                <span class="line-under d-large"></span>
                                <span class="line-right d-large"></span>
                                <span class="round-point d-large"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="shildik-bottom ">
                        Не важно сколько тебе лет, важно<br> на сколько ты выглядишь
                    </div>
                </div>
                <div class="section-order__inner__left">
                    <div class="order-block">
                        <div class="text-title">
                            Оформить заказ
                        </div>
                        <form action="/registration" method="POST" novalidate='novalidate' class="signup_form">
                            <div class="input-field mb-2">
                                <input name='first_name' type="text" class="form_control"
                                       placeholder="Ваше имя" required>
                            </div>
                            <div class="input-field mb-2">
                                <input name='last_name' type="text" class="form_control"
                                       placeholder="Ваша фамилия" required>
                            </div>
                            <div class="input-field mb-2">
                                <input name='phone_raw' type='tel' class="form_control"
                                       placeholder="Номер телефона" data-not-remember required>
                                <input type="hidden" name="phone" data-not-remember>
                            </div>
                            <div class="prices">
                                <div class="old-price">
                                    1980 руб.
                                </div>
                                <div class="new-price">
                                    149 руб.
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn button position-relative mt-3 mb-3" type="submit"> Заказать курс
                                    Rechiol®
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="shildik-bottom">
                        Не важно сколько тебе лет, важно
                        <p>
                            на сколько ты выглядишь
                        </p>
                    </div>
                </div>
                <img src="../img/woman_bottom.png" alt="" class="woman-bottom">
                <div class="section-order__inner__right">
                    <img src="../img/logo.svg" alt="" class="logo">
                    <div class="title">
                        Концентрат молодости
                        <p> и красоты</p>
                    </div>
                    <img src="../img/prod_bottom.png" alt="" class="prod-bottom">
                    <ul class="bottom-pluses">
                        <li class="plus-fifth">
								<span>
									Формирует четкие, ровные контуры,
									<strong>
										подтягивает овал лица
									</strong>
								</span>
                            <span class="line-under line"></span>
                            <span class="line-right line"></span>
                            <span class="round-point point"></span>
                        </li>
                        <li class="plus-sixth">
								<span>
									<strong>
										Убирает
									</strong>
									 нежелательную
									<strong>
										пигментацию,
									</strong>
                            		придает коже сияющий
                            		цвет
								</span>
                            <span class="line-under line"></span>
                            <span class="line-right line"></span>
                            <span class="round-point point"></span>
                        </li>
                        <li class="plus-seventh">
								<span>
									<strong>
									Устраняет
									</strong>
									 мелкие мимические и глубокие
									<strong>
										морщины
									</strong>
								</span>
                            <span class="line-under line"></span>
                            <span class="line-right line"></span>
                            <span class="round-point point point-last"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
